<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>numLives</key>
	<integer>2</integer>
	<key>livesFont</key>
	<string>Way beyond blue</string>
	<key>livesSize</key>
	<integer>35</integer>
	<key>heroSize</key>
	<integer>100</integer>
	<key>heroTeleportTime</key>
	<integer>3</integer>
	<key>heroTeleportMinDistance</key>
	<integer>500</integer>
	<key>heroSprite</key>
	<string>hero</string>
	<key>heroMoveDistance</key>
	<integer>15</integer>
	<key>heroMoveSpeed</key>
	<real>0.05</real>
	<key>explosionDuration</key>
	<real>0.3</real>
	<key>explosionSize</key>
	<real>0.7</real>
	<key>projectileSprite</key>
	<string>projectile</string>
	<key>projectileSize</key>
	<integer>20</integer>
	<key>projectileDistance</key>
	<integer>100</integer>
	<key>projectileSpeed</key>
	<real>0.17</real>
	<key>laserSprite</key>
	<string>laser</string>
	<key>laserBackSprite</key>
	<string>laser-back</string>
	<key>laserSize</key>
	<integer>100</integer>
	<key>flashDuration</key>
	<real>0.03</real>
	<key>scoreFont</key>
	<string>Masaaki</string>
	<key>scoreSize</key>
	<integer>55</integer>
	<key>onboardingFont</key>
	<string>Masaaki</string>
	<key>onboardingSize</key>
	<integer>150</integer>
	<key>onboardingShootText</key>
	<string>SHOOT</string>
	<key>onboardingMoveText</key>
	<string>MOVE</string>
	<key>titleFont</key>
	<string>Way beyond blue</string>
	<key>titleSize</key>
	<integer>200</integer>
	<key>titleText</key>
	<string>4BAR</string>
	<key>startButtonFont</key>
	<string>Masaaki</string>
	<key>startButtonSize</key>
	<integer>65</integer>
	<key>startButtonText</key>
	<string>START</string>
	<key>mobSprite</key>
	<string>mob</string>
	<key>mobSize</key>
	<integer>125</integer>
	<key>mobMoveDistance</key>
	<integer>15</integer>
	<key>mobMoveSpeed</key>
	<real>0.5</real>
	<key>mobMinDistance</key>
	<integer>250</integer>
	<key>controlCenter</key>
	<integer>130</integer>
	<key>controlImage</key>
	<string>moveControl</string>
	<key>lockWidth</key>
	<integer>150</integer>
	<key>lockHeight</key>
	<integer>150</integer>
	<key>hiveSize</key>
	<integer>75</integer>
	<key>endgameScoreFont</key>
	<string>Masaaki</string>
	<key>endgameScoreSize</key>
	<integer>150</integer>
	<key>endgameTimeFont</key>
	<string>Masaaki</string>
	<key>endgameTimeSize</key>
	<integer>150</integer>
	<key>endgameTitleSize</key>
	<integer>75</integer>
	<key>endgameTitleText</key>
	<string>4BAR4BAR4BAR4BAR4BAR4BAR4BAR4BAR</string>
	<key>endgameBlinkSpeed</key>
	<real>0.02</real>
</dict>
</plist>
